<html>
  <div
    style="box-sizing:border-box;width:100%;margin-bottom:30px;background:#ffffff;border:1px solid #f0f0f0"
  >
    <table
      style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important"
      width="100%"
    >
      <tbody>
        <tr>
          <td
            style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px"
            valign="top"
          >
            <table
              style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important"
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top"
                    valign="top"
                  >
                    <h2
                      style="margin:0;margin-bottom:30px;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5;font-size:24px;color:#294661!important"
                    >
                      Thank you<br />
                      Let's confirm your email address.
                    </h2>

                    <p
                      style="margin:0;margin-bottom:30px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300"
                    >
                      By clicking on the following link, you are confirming your
                      email address. This confirmation will be expired in 12 hours.
                    </p>
                  </td>
                </tr>

                <tr>
                  <td
                    style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top"
                    valign="top"
                  >
                    <table
                      cellpadding="0"
                      cellspacing="0"
                      class="m_-5608018765835451060btn m_-5608018765835451060btn-primary"
                      style="box-sizing:border-box;border-spacing:0;width:100%;border-collapse:separate!important"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding-bottom:15px;align-content: center "
                            valign="top"
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              style="box-sizing:border-box;border-spacing:0;width:auto;border-collapse:separate!important"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    bgcolor="#348eda"
                                    style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;background-color:#348eda;border-radius:2px;text-align:center"
                                    valign="top"
                                  >
                                    <a
                                      href="<%= confirmation %>"
                                      style="box-sizing:border-box;border-color:#348eda;font-weight:400;text-decoration:none;display:inline-block;margin:0;color:#ffffff;background-color:#348eda;border:solid 1px #348eda;border-radius:2px;font-size:14px;padding:12px 45px"
                                      target="_blank"
                                      >Confirm Email Address</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
